.todo_list_wrapper {
    width: 662px;
    min-height: 448px;
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    & .todo_list_title {
        color: #2b2b2b;
        font-size: 24px;
        line-height: 40px;
        font-family: "OpenSans-700";
        margin-bottom: 24px;
    }
    & .new_task_wrapper {
        width: 100%;
        background-color: #f2f2f7;
        border-radius: 8px;
        height: 112px;
        padding: 16px;
        & .new_task_title {
            color: #2b2b2b;
            font-size: 16px;
            line-height: 24px;
            font-family: "OpenSans-600";
            margin-bottom: 8px;
        }
        & .new_task_inputs_wrapper {
            height: 48px;
            display: grid;
            grid-template-columns: 1fr 178px 88px;
            gap: 8px;
        }
    }
    .dates_div{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px;
        width: 614px;
        min-height: 224px;
        margin-top: 16px;
        background: #F2F2F7;
        border-radius: 8px;
        & .dates{
            width: 47px;
            height: 24px;
            font-weight: 600;
            font-size: 16px;
            color: #2B2B2B
        }
    }
}
.item_delete{
    position: relative;
}
.item{
    left: 29.79%;
    right: 29.79%;
    top: 52.67%;
    bottom: 42%;
    height: 40px;
    background: #FFFFFF;
    color: #3a85f7;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}
.delete_button{
    font-family: "OpenSans-600";
    color: #EB445A;
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    position: absolute;
    left: 85%;
}