.todo_list_wrapper{
    width: 662px;
    min-height: 448px;
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    & .todo_list_title{
        color: #2b2b2b;
        font-size: 24px;
        line-height: 40px;
        font-family: "OpenSans-700";

    }
    & .new_task_wrapper{
        width: 100%;
        background-color: #f2f2f7;
        border-radius: 8px;
        height: 112px;
        margin-top: 24px;
        padding: 16px;
        & .new_task_title{
            color: #2b2b2b;
            font-size: 16px;
            line-height: 24px;
            font-family: "OpenSans-600";
            margin-bottom: 8px;
        }
        & .new_task_inputs_wrapper{
            height: 48px;
            display: grid;
            grid-template-columns: 1fr 178px 88px;
            gap: 8px;

        }
    }

}
