:root{
    --main-font:'Courier New', Courier, monospace;
}
.mainWrapper{
    position: absolute;
    top: 180px;
    left: 400px;
    width: 40%;
    height: 450px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}

.head{
    font-family:var(--main-font);
    font-weight: bold;
    font-size: 24px;
    background-color: #fff;
    margin: 10px;
}
.task{
    height: 100px;
    background: #F2F2F7;
    border-radius: 10px;
    margin: 10px;
}
.inputText{
    height:40px;
    width: 45%;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    margin: 15px;
    padding: 10px;
}
.inputDate{
    height:40px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 10px;
}
.addButton{
    height: 40px;
    width: 80px;
    margin: 10px;
    border: none;
    color: #fff;
    background: #3A85F7;
    border-radius: 8px; 
}
.addButton:hover{
    cursor: pointer;
    background-color: #12059f;

}
.dates{
    min-height: 220px;
    background: #F2F2F7;
    border-radius: 8px;
    margin: 10px;
}
.newTask{
    font-family:var(--main-font);
    font-weight: bold;
    font-size: 16px;
    margin: 15px 15px 0 15px;
    padding-top: 15px;
}
.datesText{
    font-family:var(--main-font);
    font-weight: bold;
    font-size: 16px;
    margin: 15px 15px 0 15px;
    padding-top: 20px;
}
.monthDay{
    height:40px;
    width: 70%;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    margin: 15px;
    padding: 10px;
    color: #3A85F7;
    cursor: pointer;

}
